<h1>Lista de productos</h1>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let garment of garments'[ngClass]="{'clearance': garment.clearance}">
            <td><p>{{garment.name}}</p><img class="img-thumbnail" [src]="garment.image" [alt]="garment.name"></td>
            <td>{{garment.type}}</td>
            <td>{{garment.price | currency}}</td>
            <td><span class="badge badge-warning" *ngIf='garment.stock == 0'>Sin stock</span></td>
            <td><button class="btn btn-sm btn-success" (click)="downQuantity(garment)">-</button>
                <input type="text" 
                [(ngModel)]= "garment.quantity" 
                (keyup)="changeQuantity($event, garment)">
                <button class="btn btn-sm btn-success" (click)="upQuantity(garment)">+</button></td>

        </tr>
    </tbody>
</table>